<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sharp_adaptive_audio_mic_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sharp_adaptive_audio_mic_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="34">

        <receiver android:name="com.plracticalcoding.notification.receivers" />

        <receiver android:name="com.plracticalcoding.notification.recieverDismiss" />

        <service android:name="com.plracticalcoding.bluetoothService.BluetoothPrinterService"
            android:exported="true"
            android:foregroundServiceType="connectedDevice"/>

        <activity
            android:name="com.plracticalcoding.mainApp.MainAppActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.plracticalcoding.bluetoothService.BluetoothPrinterActivity"
            android:exported="false"/>
        <activity
            android:name="com.plracticalcoding.bluetoothService.DeviceListActivity"
            android:exported="false"
            android:label="Select a Device"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity
            android:name="com.plracticalcoding.bluetoothService.MyActivity"
            android:exported="false"/>


        <activity
            android:name="com.plracticalcoding.asyncTaskClass.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.firbase_db.PhoneSignActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.firbase_db.ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.firbase_db.MainMenu"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.firbase_db.SignUp"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.firbase_db.FirebaseDBActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.notification.MainNotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.accesing_android_features.SpeechToText"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.phonecall.PhoneCall_"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.accesing_android_features.SendEmailActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.accesing_android_features.SendSmsActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.photo_album_app.UpdateImageActivity"
            android:exported="false"
            android:parentActivityName="com.plracticalcoding.photo_album_app.PhotoActivity" />
        <activity
            android:name="com.plracticalcoding.photo_album_app.AddImageActivity"
            android:exported="false"
            android:parentActivityName="com.plracticalcoding.photo_album_app.PhotoActivity" />
        <activity
            android:name="com.plracticalcoding.photo_album_app.PhotoActivity"
            android:exported="true" />
        <activity
            android:name="com.plracticalcoding.Tack_Note.UpdateActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.Tack_Note.AddNoteActivity"
            android:exported="false"
            android:parentActivityName="com.plracticalcoding.Tack_Note.MainActivityTakeNote" />
        <activity
            android:name="com.plracticalcoding.Tack_Note.MainActivityTakeNote"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.sqliteddb.UpdateCourseActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.sqliteddb.SQLiteMainActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.sqliteddb.ViewCourses"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.sudoku_board.MainActivitySudoku"
            android:exported="false" />

        <service
            android:name="com.plracticalcoding.firbase_db.MyFirbaseService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/bell" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>