<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sharp_adaptive_audio_mic_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sharp_adaptive_audio_mic_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        tools:targetApi="34">
        <activity
            android:name="com.plracticalcoding.fragments.fragment_ope.activities.WondersActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.fragments.fragment_ope.activities.MuseumsActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.fragments.fragment_ope.activities.CountriesActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.fragments.fragment_ope.activities.InfoBookActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.fragments.fragment_ope.activities.DialogFragmentActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.fragments.fragment_ope.activities.SecontFragmentActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.fragments.fragment_ope.activities.OpeFragmentActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.quizGame.number_guessing.GassingNumberGameActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.quizGame.number_guessing.GassingNumberActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.quizGame.number_guessing.GassingNumberSplash"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.calculator.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.quizGame.mathGame.MarthResultActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.quizGame.mathGame.GameActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.quizGame.mathGame.MathGame"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.auth.Login_Page"
            android:exported="false"
            android:theme="@style/AppThem_login_Page" />
        <activity
            android:name="com.plracticalcoding.firbase.FirbaseMainActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.multithreading.workManager.MultithreadingAndroidActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.testCode.MainActivitytoshowPopRecycleView"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.bluetoothService.BluetoothPrinterActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.bluetoothService.DeviceListActivity"
            android:exported="false"
            android:label="Select a Device"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.plracticalcoding.bluetoothService.MyActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.asyncTaskClass.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.firbase.PhoneSignActivity"
            android.exported="false" />
        <activity
            android:name="com.plracticalcoding.firbase.ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.firbase.MainMenu"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.firbase.SignUp"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.firbase.FirebaseDBActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.notification.MainNotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.android_features.SpeechToText"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.phonecall.PhoneCall_"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.android_features.SendEmailActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.android_features.SendSmsActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.photo_album.UpdateImageActivity"
            android:exported="false"
            android:parentActivityName="com.plracticalcoding.photo_album.PhotoActivity" />
        <activity
            android:name="com.plracticalcoding.photo_album.AddImageActivity"
            android:exported="false"
            android:parentActivityName="com.plracticalcoding.photo_album.PhotoActivity" />
        <activity
            android:name="com.plracticalcoding.photo_album.PhotoActivity"
            android:exported="true" />
        <activity
            android:name="com.plracticalcoding.Tack_Note.UpdateActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.Tack_Note.AddNoteActivity"
            android:exported="false"
            android:parentActivityName="com.plracticalcoding.Tack_Note.MainActivityTakeNote" />
        <activity
            android:name="com.plracticalcoding.Tack_Note.MainActivityTakeNote"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.sqliteddb.UpdateCourseActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.sqliteddb.SQLiteMainActivity"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.sqliteddb.ViewCourses"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.sudoku_board.MainActivitySudoku"
            android:exported="false" />
        <activity
            android:name="com.plracticalcoding.appHomeArea.MainAppArea"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.plracticalcoding.firbase.MyFirbaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="com.plracticalcoding.notification.receivers" />
        <receiver android:name="com.plracticalcoding.notification.recieverDismiss" />

        <service
            android:name="com.plracticalcoding.bluetoothService.BluetoothPrinterService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/bell" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>